@use "../../scss/" as *;
.header-mix-mode {
  position: fixed;
  width: 100%;
  padding: 2.25rem 0;
  mix-blend-mode: multiply;
  z-index: 99;
  opacity: 1;
  transition: background-color 150ms linear;
  @include mobile {
    padding: 2.1rem 0;
  }
}
.header.fixed {
  position: fixed;
  z-index: 100;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 300ms linear;
  }
}
.header {
  width: 100%;
  position: absolute;
  z-index: 99;
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-flex {
    @include flex(center, space-between);
    margin: 0 30px;
    &-tablet {
      @include flex(center, center);
      & > * {
        margin-right: 10px;
      }
    }
    @include mobile {
      margin: 0 10px;
    }
  }

  &-branch {
    padding: 1.3rem 0;
    font-size: 1.5rem;
    font-family: $font-secondary;
    position: relative;
    @include flex(center, center);
    @include mobile {
      font-size: 1.5rem;
      padding: 1.2rem 0;
    }

    :first-child {
      color: $white;
    }
    :last-child {
      color: $red;
      @include flex(center, null);
      .logo-icon {
        animation: logoIconRotate 3s infinite linear;
        //  transform: rotate(250deg);
      }
      @keyframes logoIconRotate {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  .underline-logo {
    position: relative;
    bottom: 15px;
    transition: width 300ms linear;
  }
  
  &-nav-list {
    @include flex(center, null);
    font-family: $font-primary;
    font-size: 0.935rem;
    
    & > * {
      font-weight: 600;
      margin-right: 2.5rem;
      cursor: pointer;
      color: $white;
      transition: transform 150ms linear;
      &:hover {
        transform: scale(1.2);
      }
      @include desktop {
        margin-right: 1.2rem;
      }
    }
    :last-child {
      margin-right: 0;
    }
    .search {
      a {
        display: flex;
        align-items: center;
      }
    }
    .active{
    //  background-color: red;
    //  padding: 5px 10px;
    }
    

    @include tablet {
      & > * {
        margin-right: 1rem;
      }
    }
    @include tablet {
      & > * {
        display: none;
      }
      .search {
        display: flex;
        &-text {
          @include mobile {
            display: none;
          }
        }
      }
    }

    .genre {
      position: relative;
      &-list {
        position: absolute;
        width: 190px;
        background-color: $white;
        left: -20px;
        top: calc(100% + 5px);
        padding: 10px 0;
        transition: opacity 150ms linear, transform 150ms linear;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 30px;
          top: -25px;
        }
      }
      &-item {
        padding: 10px 20px;
        color: $black;
        font-size: 0.8rem;
        font-weight: 500;
        &:hover {
          color: $red;
        }
        // text-align: right;
      }
    }
    .search-icon {
      font-size: 1.5rem;
      @include mobile {
        font-size: 1.7rem;
      }
    }
  }
  &-bar {
    display: none;
    @include tablet {
      display: block;
      font-size: 2rem;
      color: $red;
      line-height: 0.6;
      cursor: pointer;
    }
    @include mobile {
      font-size: 1.7rem;
    }
  }
}

//
.header-sidebar {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  // background-color: blue;
  &-mobile {
    position: absolute;
    min-width: 240px;
    height: 100%;
    color: $white;
    background-color: $background-web;
    z-index: 9999;
  }
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    z-index: 9998;
    mix-blend-mode: multiply;
  }
}
.header-tablet {
  // position: fixed;
}
.logged-user {
  position: relative;
  .user-avatar {
    border-radius: 50%;
    width: 35px;
    display: flex;
    height: 35px;
    object-fit: cover;

  }
  .user-customAvatar{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: orangered;
    @include flex(center,center);
  }
  .sign-out {
    position: absolute;
    min-width: 70px;
    height: 30px;
    color: $black;
    top: calc(100% + 10px);
    right: 0;
    background-color: $white;
    border-radius: 3px;
    @include flex(center, center);
  }
}
.skeleton-avatar {
  position: relative;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  background-color: $background-web;
  animation: loadAvatar 500ms infinite linear alternate;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 50%;
    border-top: 2px solid $red;
    animation: loadingAvatar 300ms linear infinite;
  }
  @keyframes loadingAvatar {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
