@use "../../../../scss/" as *;

.cast {
    margin-top: 50px;
    color: $white;
    h3{
        margin-bottom: 20px;
        font-weight: 500;
    }
    &-image {
      border-radius: 50%;
      width: 100%;
      height: 120px;
      object-fit: cover;
      object-position: top;
      @include desktop{
        height: 110px;
      }
      @include tablet{
        height: 100px;
      }
      @include mobile{
        height: 90px;
      }
    }
    &-profile {
      overflow: hidden;
      width: 120px;
      @include desktop{
        width: 110px;
      }
      @include tablet{
        width: 100px;
      }
      @include mobile{
        width: 90px;
      }
      overflow: hidden;
      & > span {
        display: block;
        color: $white;
                    font-size: 0.8rem;
      }
      .cast-name {
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 10px;
        font-weight: 600;
      }
      .cast-name-character {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: $grey;
        text-align: center;
      }
    }

  }