$white:#FFFFFF;
$lightWhite:#ABB7C4;
$black:#1f0404;
$red:#E41A1A;
$yellow:#f5c518;
$grey:#B5B5B5;
$light-grey:#c8c6d0;
$green:#48c774;
$background-web:#06121e;
$overlay:grey;


$font-primary:'Poppins', sans-serif ;
$font-secondary:'Quicksand',sans-serif;

$large-desktop:1201px;
$desktop:1025px;
$tablet:769px;
$mobile:500px;

$border_radius-btn:4px;

$overlay-backdrop:rgb(134, 134, 134)