@use '../../scss/' as *;

.loading{
    background-color: black;
    width: 100%;
    height: 100vh;
    @include flex(center,center);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 80px;
        height: 80px;
        border: 6px solid black;
        border-top: 6px solid $white;
        border-radius: 50%;
       animation: spinner 1.5s infinite  linear ;
      @include mobile{
          width: 50px;
          height: 50px;
          border: 4px solid black;
        border-top: 4px solid $white;
          
      }
    }
}
@keyframes spinner {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);

    }
}