@use "../../../scss/" as *;
.catalog {
  color: $white;
  .pagination {
    color: $white;
    margin-top: 30px;
    @include flex(center, center);
    .pre-page {
      padding: 10px;
    }
    .next-page {
      padding: 10px;
    }
    .active {
      background-color: $red;
    }
    &-number {
      @include flex(center, center);
      & > * {
        @include flex(center, center);
        margin-right: 10px;
        width: 45px;
        height: 45px;
        @include tablet {
          width: 35px;
          height: 35px;
        }
        @include mobile {
          width: 30px;
          height: 30px;
          // font-size: 1rem;
        }
      }
    }
  }
}
